.DS_Store
.AppleDouble
.LSOverride

.Spotlight-V100
.Trashes

__pycache__/
*.py[cod]

*.so

.Python
env/
build/
dist/

*.manifest
*.spec

*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3