{% extends "todo/base.html" %}

{% block content %}

<div class="row justify-content-between text-white p-2 mt-5">
    <form action="{% url 'add' %}" method="POST" role="form">
    {% csrf_token %}

    <div class="input-group mb-3">
  <!--<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">-->
  {{ form.text }}
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit" id="button-addon2">Add Todo</button>
  </div>
</div>
        </form>
      </div>

      <a href="{% url 'deletecomplete' %}"><button type="button" class="btn btn-primary btn-lg">Delete completed</button></a>
<a href="{% url 'deleteall' %}"><button type="button" class="btn btn-secondary btn-lg">Delete All</button></a>

      <div class="row mt-5">
        <ul class="list-group col-sm-12">
        {% for todo in todo_list %}
            {% if todo.complete %}
            <li class="list-group-item disabled" aria-disabled="true"><del>{{ todo.text }}</del></li>
            {% else %}
            <a href="{% url 'complete' todo.id  %}" ><li class="list-group-item">{{ todo.text }}</li></a>
            {% endif %}
        {% endfor %}
        </ul>
      </div>

{% endblock content %}